Django==5.2.15

psycopg2-binary==2.9.10

python-dotenv==1.1.1

djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.1
drf-spectacular==0.28.0
drf-yasg==1.21.10

django-cors-headers==4.7.0

channels==4.3.2
channels-redis==4.3.0
daphne==4.2.1

celery==5.5.3
redis==5.0.8

firebase-admin==7.1.0

geopy==2.4.1

PyJWT==2.10.1
asgiref==3.9.1

django-redis==6.0.0
django-ratelimit==4.1.0

pandas==2.3.0
numpy==2.3.0
openpyxl==3.1.5
firebase-admin
opencv-python-headless==4.10.0.84
pillow==10.4.0
pytesseract==0.3.13